<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sergiydomanitskiy.riders" version="0.0.1">
  <name>Riders test</name>
  <description>
    Test app
  </description>
  <content src="package.json" />

  <platform name="android">
    <allow-navigation href="*" />
    <preference name="LogLevel" value="DEBUG" />
  </platform>

  <preference name="Fullscreen" value="false" />

  <plugin name="cordova-plugin-inappbrowser" version="1.4.0" />
  <plugin name="cordova-plugin-whitelist" version="1.2.2" />
</widget>
