<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sergiydomanitskiy.riders" version="0.0.1">
  <name>Riders test</name>
  <description>
    Test app
  </description>
  <content src="package.json" />

  <platform name="android">
    <allow-navigation href="*" />
  </platform>

  <preference name="Fullscreen" value="false" />

  <plugin name="cordova-plugin-inappbrowser" version="1.4.0" />
  <plugin name="cordova-plugin-mauron85-background-geolocation" version="1.0.1" />
  <plugin name="cordova-plugin-whitelist" version="1.2.2" />
  <plugin name="cordova-plugin-file-transfer" version="1.5.1" />
  <plugin name="cordova-plugin-camera" version="2.2.0" />
  <plugin name="cordova-plugin-device" version="1.1.2" />
</widget>
